QWidget{
    background-color: #202020;
}

/*-------------------------------------------------------------------------*/

QPushButton{
    color: thistle;
    background-color: #1a58af;
    border: 1px solid #1a58af;
    padding: 5px;
}

QPushButton:active{
    color: #ffffff;
}

QPushButton:hover{
    color: white;
}

QPushButton#closeBtn, #minimiseBtn{
    padding-top: 0px;
    font-size: 17px;
    font-weight: 100;
    border-bottom-right-radius: 2px;
}

QPushButton#closeBtn:hover{
    background-color: red;
    border: 1px solid red;
}

QPushButton#minimiseBtn:hover{
    background-color: rgb(0, 132, 255);
    border: 1px solid rgb(0, 132, 255);
}

QPushButton#infoBtn{
    margin-top: 6px;
    width: 9px;
    height: 10px;
    padding-top: 3px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 10px;
}
QPushButton#infoBtn:hover{
    background-color: rgb(0, 132, 255);
    border: 1px solid rgb(0, 132, 255);
}

QPushButton#recordOnOffshortcutButton, #recordShootshortcutButton{
    border: 1px solid grey;
    background-color: rgb(24, 39, 49);
    border-radius: 2px;
    font-weight: bold;
}

/*-------------------------------------------------------------------------*/

QLabel#windowTitle{
    padding-top: 5px;
    font-weight: 800;
    color: rgb(121, 121, 121);
    font-size: 15px;
}

QLabel#currentShortcutLabel, #currentShortcutKeyLabel{
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 13px;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 3px;
}

QPushButton#onoffSlideButton{
    padding-bottom: 50px;
}

/*-------------------------------------------------------------------------*/

QLabel#onoffLabel{
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
}

QLabel#messageBoxLabel{
    font-weight: 800;
    font-size: 14px;
    color: red;
}

/*-------------------------------------------------------------------------*/

QCheckBox#checkboxes{
    color: whitesmoke;
    font-size: 13px;
    font-weight: 500;
}
QCheckBox#checkboxes::indicator{
    width: 16px;
    height: 16px;
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    background: none;
}
QCheckBox#checkboxes::indicator:checked{
    image: url(style/tick.png);
    border: 1px solid #8a8a8a;
}
QCheckBox#checkboxes::indicator:hover{
    border: 1px solid rgb(255, 255, 255);
}

/*-------------------------------------------------------------------------*/

QToolTip{ 
    color: #ffffff;
    background-color: #000000;
    border: 0px; 
}

/*-------------------------------------------------------------------------*/